@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --primary_color:#e9ae30;
    --white_color: #fff;
    --ubuntu: "ubuntu";
    --righteous:"Righteous";
    --box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
}

html{
    font-size: 70%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins";
}
body {
    background: linear-gradient(to bottom, rgba(222,196,170,255), #fabb61); /* Gradient from lighter to darker #e9ae30 */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*------------------------- Utility Start------------------ */
a{
    text-decoration: none;
    cursor: pointer;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.main_heading{
    font-size: 4rem;
    font-family: var(--righteous);
    text-align: center;
}

.main_heading-1{
    font-size: 4rem;
    font-family: var(--righteous);
    text-align: center;
    color: #000;
}

.normal_heading{
    font-size: 2rem;
    font-family: var(--righteous);
    color: var(--white_color);
    text-align: center;
}


.normal_heading-1{
    font-size: 2rem;
    font-family: var(--righteous);
    text-align: center;
    color: var(--primary_color)
}

/*------------------------- Utility End------------------ */


/*------------------------- Header Start------------------ */

header{
    width: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    padding: 0.5rem 0;
    z-index: 100;
}

.logo img{
    display: block;
    object-fit: cover;
    height: 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav{
    display: flex;
    align-items: center;
}

.navbar nav li{
    list-style-type: none;
    margin: 0 1rem;
}

.navbar nav li a{
    font-size: 1.3rem;
    color: var(--white_color);
    position: relative;
}

/* Underline Effect on Nav */

.navbar nav li a::after{
    content: "";
    position: absolute;
    height: 3px;
    background: var(--primary_color);
    width: 0;
    left: 0;
    top: 30px;
    transition: all 0.3s ease-in-out;
}

.navbar nav li a:hover:after{
    content: "";
    position: absolute;
    height: 3px;
    background: var(--primary_color);
    width: 100%;
    left: 0;
    top: 30px;
}

.header-btn{
    font-size: 2.2rem;
    color: var(--white_color);
    cursor: pointer;
    display: none;
}
/*------------------------- Header End------------------ */



/* Login Form Start  */

.login-form{
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid var(--white_color);
}
.login-form .form-group label{
    color: var(--white_color);
    padding-left: 1rem;
}
.login-form .form-group input{
    border-radius: 20px;
}
.login-title{
    text-align: center;
    font-family: var(--righteous);
    letter-spacing: 5px;
}
.login-form .btn{
    background-color: rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}
.login-form .btn:hover{
    background-color: var(--primary_color);
    color: #000;
}

.login-form a:hover{
    text-decoration: underline;
}

/* Login Form End  */
/* SignUp Form Start  */

.signup-form{
    margin-top: 7rem;
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid var(--white_color);
}
.signup-form .form-group label{
    color: var(--white_color);
    padding-left: 1rem;
}
.signup-form .form-group input{
    border-radius: 20px;
}
.signup-title{
    text-align: center;
    font-family: var(--righteous);
    letter-spacing: 5px;
}
.signup-form .btn{
    background-color: rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}
.signup-form .btn:hover{
    background-color: var(--primary_color);
    color: #000;
}

.signup-form a:hover{
    text-decoration: underline;
}
/* SignUp Form End  */
/* <!-- Home Start --> */

#home{
    background: url('img/bg-cover-dark.png') no-repeat center/cover;
    min-height: 100vh;
    position: relative;
}


#home a {
    position: relative;
    z-index: 10; 
}

#home .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}


#home .content h2{
    font-size: 7rem;
    font-family: var(--righteous);
    color: var(--white_color);
    text-align: center;
    letter-spacing: 2px;
}


#home .content h3{
    font-size: 3rem;
    font-family: var(--righteous);
    color: var(--white_color);
    text-align: center;
    letter-spacing: 2px;
}



.btn-container {
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 10;
}

.btn-container .btn {
    display: inline-block;
    padding: 5px 10px;
    background-color:rgba(0,0,0,0.6); 
    color: var(--white_color); 
    text-decoration: none; 
    border-radius: 20px; 
    border: 1px solid var(--white_color);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.btn-container .btn:hover{
    transform: scale(1.1);
    color: #000;

}

.btn-container p {
    margin-top: 10px;
    color: #fff;
}

.btn-container p a {
    color: #fff;
    text-decoration: underline;
}
/* <!-- Home Close --> */

/* Menu Start  */

.menu_items_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}

.menu_items_container .img_cards{
    border: 1px solid #ddd;
    box-shadow: var(--box-shadow);
}

.img_cards{
    background-color: rgba(0,0,0,0.6);
    transition: all 0.5s ease-in-out;
}

.img_cards img{
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.img_cards:hover{
    transform: scale(1.05);
}

.img_cards p{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: var(--ubuntu);
    color: var(--primary_color);
}
.img_cards p.title{
    font-size: 2.5rem;
}
.img_cards .price{
    color: var(--white_color);
    font-size: 1.8rem;
}

.menu-content {
    height: 100%;
    padding-top: 100px;
}

.menu-content h1{
    text-align: center;
    font-size: 30px;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: 1rem;
    padding-left: 3rem;
    margin-bottom: 1rem;
}

.search form input{
    padding: 0 1rem ;
    border-radius: 20px;
    border: 2px solid black;
}

.search form button{
    padding: 0 1rem ;
    border-radius: 20px;
    border: 2px solid black;
}

.search-results h2{
    margin: 3rem;
}
.btn_container{
    margin: 1rem;
    width: 100%;
    display: flex;
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-cat{
    padding: 0.7rem 1.2rem;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    cursor: pointer;
    border: 1px solid #ddd;
    font-size: 1.4rem;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
.btn-cat:hover, .active_btn{
    background: var(--primary_color);
    color: var(--white_color);
    border: 2px solid black;
}

.img_cards a{
    padding: 0.7rem 1.2rem;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    cursor: pointer;
    width: 60%;
    display: block;
    margin: 2rem auto;
    border: 1px solid #ddd;
    font-size: 1.4rem;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
/* Menu Close */

/* About Section Start  */

.about-section .main_heading{
    padding: 100px 20%;
}

.about-section p{
    
    font-size: 24px;
    text-align: justify;
    font-family: var(--ubuntu);
}
/* About Section End  */

h1.title{
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
}

/* CART Start  */
.cart_items_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.cart_img_cards img{
    width: 120px ;
    height: 88px;
    float: left;
    margin-right: 1rem;
}

.cart_img_cards p{
    font-size: 1.25rem;
}

.cart-item-details{
    display: flex;
    flex-direction: column;
}

.cart_img_cards{
  
    display: block;
    width: 80%;
    margin: 2rem 10rem;
    border-radius: 4px;
    border: 2px solid black;
}

.qty-chng{
    color: #000;
    display: inline-block;
}

.total_cost{
    text-align: center;
    margin: 3rem;
    margin-bottom: 0;
    font-size: large;
  
}
.edit-order{
    text-align: center;
    margin: 1rem auto;
    padding: 1rem 3rem;
    width: fit-content;
    font-size: 17px;
}
.btn.edit-order a{
    color: #000;
    transition: all 0.3s ease-in-out;
}
.btn.edit-order a:hover{
    color: var(--white_color);
}

.edit-btn-container .btn{
    padding: 0.5rem 2rem;
    font-size: 17px;

}
.cart-text{
    font-family: var(--ubuntu);
    font-size: 20px;
    margin-left: 5rem;
}
.go-to-menu{
    margin: 3rem;
}

.main-content {
    height: 100vh;

    justify-content: center;
    align-items: center;

}

.menu-btn{
    width: auto;
    padding: 10px;
    margin-left: 10rem;
    font-size: 1em;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
#home .menu-btn{
    margin: 0;
    transition: all 0.1s ease-in-out;

}

#home .menu-btn:hover{
    background: var(--primary_color);
    color: #000;
    font-weight: 900;
    border: 2px solid black;
}




.buynow-btn{
    width: auto;
    text-align: center;
    margin: 2rem 1rem;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
/* CART Ends  */


/* My Account */


.btn-logout button{
    padding: 10px;
    margin-left: 10rem;

    font-size: 1em;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.btn.add-address-btn{
    margin: 1rem;
}

.btn{
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid black;
    padding: 0.5rem;
    background-color: #f0ad4e;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background-color: var(--primary_color);
    color: var(--white_color);
}

.hide{
    display: none;
}
button.btn.delete-address-btn{
    background-color: red;
    color: var(--white_color);
}
button.btn.delete-address-btn:hover{
    background-color: white;
    color: red;
}

.recent-orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.recent-orders a.btn{
    float: right;
    margin: 2rem;
}
/* My Account */
/* Login Page  */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: url('img/bg-cover-dark.png') no-repeat center/cover;
    position: relative;
}

.center-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

.center-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.center-container button {
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.center-container button:hover {
    background-color: #0056b3;
}

.center-container form p input {
    width: 100%;
}

.center-container form p.text,a{
    text-align: center;
    color:var(--white_color);
}
.center-container form p{
color: var(--primary_color);
}
.helptext{
    color: var(--white_color);
    }
ul {
    list-style-type: square; 
    color: #ffffff; 
    padding-left: 20px; 
}



/* Order Review Start  */
.review-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.order-review {
    width: 100%;
    border-collapse: collapse;
  }
  
.order-review table{
    border: 2px solid black;
}
.order-review thead tr {
    border: 2px solid black;
}

.order-review tbody tr {
    border: 2px solid rgba(0,0,0,0.6);
} 

.order-review thead{
    background-color: rgba(0,0,0,0.6);
    color: var(--white_color);
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-family: var(--righteous);
}

  .order-review th{
    border: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
    font-family: var(--righteous);

  }
  .order-review td {
    border: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
    font-family: var(--ubuntu);

  }
 
  
  .order-review td {
    text-align: center;
  }

  .order-history, .order-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 7rem;
}
 .order-history table.order-review{
    margin: 1rem 2rem;
  }
  .form-container{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 10rem;
    padding: 20px;

    font-family: var(--ubuntu);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .edit-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #BillForm{
    border-radius: 20px;
    border: 2px solid black;
  }
  .form-container h1{
    text-align: center;
    font-family: var(--righteous);

  }

  .form-container form {
    width: 100%; /* Form takes full width of the container */
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.form-container form div {
    width: 80%; 
    margin-bottom: 10px; 
}

.form-address{
    border: 1px solid rgba(0,0,0,0.6);
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 20px;
  }

  form {
    margin-top: 20px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    font-weight: bold;
  }
  form p.heading{
    font-weight: bold;

  }
  .info {
    margin-top: 20px;
    width: auto;
    margin: 1rem;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
  }
  
  .info a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
  }
  
  .info a:hover {
    text-decoration: underline;
  }

  form input[type="text"],
  form input[type="email"],
  form input[type="number"],
  form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 20px; 
  }
  
  form input[type="text"]:focus,
  form input[type="email"]:focus,
  form input[type="number"]:focus,
  form textarea:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #45a049;
  }

  .form-container form button{
    align-items: center;
  }


  .submit-btn {
    margin-top: 20px; 
    padding: 10px 20px; 
    background-color: #4CAF50;
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

/* form styling end  */

/* Container for Account Page */
.account-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Title Styling */
.account-title {
    padding-top: 100px;
    font-size: 28px;
    color: black;
    text-align: center;
}
hr{
    border-color: #000;
}
.user-info {
    text-align: center;
    font-size: 18px;
    color: rgba(0,0,0,0.8);
    padding: 2rem 0 0 0;
}

/* Message Styling */
.message {
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.success-message {
    background-color: rgba(0,255,0,0.3);;
    color: #000;
    font-weight: bold;
}
.error-message{
    background: rgba(255,0,0,0.6);
    color: var(--white_color);
}
/* Profile Section */
.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 1rem;
}


.address-section{
    border-radius: 20px;
    border: 2px solid black;
    padding: 1rem;
}
.address{
    border-radius: 20px;
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;

}
.profile-section h2{
    font-size: 24px;
}
.profile-details p {
    margin: 10px 0;
    font-size: 16px;
}

.edit-profile-btn {
    margin-top: 20px;
    background-color: #f0ad4e;
}

.edit-profile-btn:hover {
    background-color: #ec971f;
}

.add-address-btn {
    margin-top: 10px;
}

.save-profile-btn {
    background-color: #337ab7;
}

.save-profile-btn:hover {
    background-color: #286090;
}

/* Forms */
form {
    margin-top: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}



/* Address Section */
.address-section {
    margin-bottom: 40px;
}

.add-address-form-btn {
    background-color: #5bc0de;
}

.add-address-form-btn:hover {
    background-color: #31b0d5;
}

.recent-orders h2{
    font-size: 20px;
    margin: 1rem;
}
.recent-orders table.order-review tbody tr td a{
    color: #000;
}
.order-history table.order-review tbody tr td a{
    color: #000;
}


.no-orders {
    text-align: center;
    color: rgba(0,0,0,0.8);
    margin-top: 20px;
}

/* Logout Button */
.logout-form {
    text-align: center;
    margin-top: 40px;
}

button.btn.logout-btn {
    background-color: rgba(255,0,0,0.8);
    color: #000;
}

button.btn.logout-btn:hover {
    background-color: #f00;
    color: var(--white_color);
}



/* Order History Start  */
/* Basic table styling */
.order-table {
    width: 60%;
    margin-left: 20rem;
    border-collapse: collapse;
    margin-top: 20px; 
}

.order-table th, .order-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
}

.order-table th {
    background-color: #f2f2f2;
    color: #333;
}

.order-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.order-table a {
    color: #007bff;
    text-decoration: none;
}

.order-table a:hover {
    text-decoration: underline;
}

.order-table td:first-child {
    text-align: center;
}

.order-table td:nth-child(3) {
    text-align: center;
}

.order-table td:nth-child(4) {
    text-align: right;
}

.order-table tbody tr td[colspan="4"] {
    text-align: center;
    font-style: italic;
    color: #999;
}
/* Order History End  */

/* Order details start  */
.billing-details{
    margin: 2rem 1rem;
    border-radius: 20px;
    border: 2px solid black;
    padding: 2rem;
    font-size: 17px;
}



/* Order details end  */



/* ######### RESPONSIVE CSS ########## */
/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 992px) {
    #home .content h2{
        font-size: 4rem;
}
    #home .content h3{
        font-size: 2rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media (max-width: 768px) {
    #home .content h2{
        font-size: 3.5rem;
}
    #home .content h3{
        font-size: 1.5rem;
    }

    h1.title{
        font-size: 25px;
    }
    .about-section p{
        font-size: 17px;
    }
    .menu_items_container{
        grid-template-columns: repeat(2,1fr);
    }
    

}

/* Extra small devices (phones, 600px and down) */

@media (max-width: 600px) {
    html{
        font-size: 55%;
    }
    .container{
        padding: 0 40px;
    }
    
    .header-btn{
        display: block;
    }
    .navbar nav{
        flex-direction: column;
        min-width: 100%;
        min-height: 60vh;
        position: fixed;
        top: 0;
        right: 100%;
        background: #000;
        align-items: flex-start;
        justify-content: center;
        transition: all 0.5s ease-in-out;
    }
    nav.active{
        right: 0%;
        transition: all 1s ease-in ;
    }
    .navbar nav li{
        margin: 2rem 4rem;
    }
    .navbar nav li a {
        font-size: 1.4rem;
        color: var(--white_color);
        position: relative;
    }

    .close-btn{
        position: absolute;
        top: 0;
        left: 80%;
        margin: 25px;
    }


    .menu_items_container{
        grid-template-columns: repeat(1,1fr);
    }

    .search{
        /* width: 250px; */
        display: flex;
        justify-content: center;
        align-self: center;
        padding-left: 8rem;
    }
    .search form input{
        width: 50%;
    }
    
    .buynow-btn {
        font-size: 0.7em;
    }

}

