{% extends 'base.html' %}
{% load catg %}


{% block title  %}Menu{% endblock %}
{% block content %}
<div class="menu-content">
<h1>Menu</h1>
<div class="container">
    {% catg %}
    <div class="search">
        <form action="/search/" method="get">
            <input type="search" name="query" placeholder="Search">
            <button>Search</button>
        </form>
    </div>
    <div class="menu_items_container">
        {% for item in items %}
            <div class="img_cards">
                {% if item.image %}
                <img src="{{item.image.url}}" alt="Image">   
                {% endif %}
                <p class="title">{{item.title}}</p>
                <p class="price">Rs. {{item.price}}/-</p>
                <a href="{% url 'add_to_cart' item.id %}">Add to Cart</a>

               </div>
        {% endfor %}
        
</div>
</div>
</div>

{% endblock %}
