{% extends 'base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
<div class="account-container">
    <h1 class="account-title">My Account</h1>
    <h1 class="user-info">Welcome, {{ user.user }}!</h1>

    {% if success_message %}
        <div class="message success-message">{{ success_message }}</div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
        <div class="message success-message">{{ message }}</div>

        {% endfor %}

    {% endif %}

    {% if order %}
        <div class="message success-message order-info">
            Thank you for shopping. 
            <p><strong>Order ID:</strong> {{ order.id }}</p>
            <p><strong>Bill Amount:</strong> {{ order.total_bill }}</p>
        </div>
    {% endif %}

    <div class="profile-section">
        <div>
        <h2>My Profile</h2>
        </div>
        <div class="profile-details">
            <p><strong>First Name:</strong> {{ user.first_name }}</p>
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Phone:</strong> {{ user.phone }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <button type="button" class="btn edit-profile-btn">Edit Profile</button>

        </div>
        {% if edit_prof_form.errors %}
        <div class="message error-message">
            <ul>
                {% for field, errors in edit_prof_form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field.capitalize }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
        
        <form id="edit-profile-form" method="POST" action=".">
            {% csrf_token %}
            {{ edit_prof_form.as_p }}
            <button type="submit" class="btn edit-profile-btn" name="edit_profile">Save Profile</button>
        </form> 
    </div>

    <div class="address-section">
        {% if addresses %}
        <h2>Address</h2> <hr>
        {% for address in addresses %}
        <div class="address">
            {{address.name}}, <br>
            {{address.housename}},
            {{address.place}},<br>
            {{address.postoffice}},
            PinCode:{{address.pincode}}<br>
            District:{{address.district}},
            State:{{address.state}}<br>
            Ph: {{address.mob}}

            <form method="POST" action="{% url 'myaccount' %}">
                {% csrf_token %}
                <input type="hidden" name="delete_address" value="{{ address.id }}">
                <button type="submit" class="btn delete-address-btn">Delete</button>
            </form>
        </div>
        {% endfor %}
        {% endif %}
        <button type="button" class="btn add-address-btn">Add Address</button>
        
        

        <form id="add-address-form"  method="POST" action=".">
            {% csrf_token %}
            {{ add_address_form.as_p }}
            <button class="btn add-address-btn" type="submit" name="add_address">Add</button>
        </form> 

    </div>

    <div class="recent-orders">
        <h2>Recent Orders</h2>
        <!-- <a href="{% url 'order_history' %}" class="order-history-title"><h2>Order History</h2></a> -->
        {% if order_records %}
            <table class="order-review">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Total Item(s)</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in order_records %}
                        <tr>
                            <td><a href="{% url 'order_details' order.id %}">#{{ order.id }}</a></td>
                            <td>
                                {% for order_item in order.order_items.all %}
                                    {{ order_item.item.title }} ({{ order_item.quantity }})
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ order.total_bill }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'order_history'%}" class="btn">View All Orders</a>

        {% else %}
            <p class="no-orders">No orders found.</p>
        {% endif %}
    </div>
    <form method="POST" action="{% url 'logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="btn logout-btn">Logout</button>
    </form>
</div>
{% endblock %}
