{% extends 'base.html' %}

{% block title %}Order History{% endblock %}

{% block content %}
<div class="order-history">
    <h1 class="title">Order History</h1>
    
    <table class="order-review">
        <thead>
            <tr>
                <th>Sl. No.</th>
                <th>Order ID</th>
                <th>Item(s)</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% if order_records %}
                {% for order in order_records %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'order_details' order.id %}">#{{ order.id }}</a></td>
                        <td>
                            {% for order_item in order.order_items.all %}
                                {{ order_item.item.title }} ({{ order_item.quantity }})
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ order.total_bill }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No orders found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
