{% extends 'base.html' %}

{% block title %}Order History{% endblock %}

{% block content %}
    <h1 class="title">Order Details</h1>
    {% if order_details %}
    <table class="order-review">
        <thead>
            <tr>
                <th>Sl. No.</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price.</th>
            </tr>
        </thead>
        <tbody>
        {% for item in order_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{item.item}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}*{{item.price}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="billing-details">
        {% with item=order_details.0 %}

        <p><strong>Purchased By: </strong> {{item.order.purchased_by}}</p>
        <p><strong>Purchased At: </strong> {{item.order.purchased_at}}</p>
        <p><strong>Address: </strong> {{item.order.address}}</p>
        <p><strong>Phone: </strong> {{item.order.purchased_by}}</p>
        <p><strong>Email: </strong> {{item.order.purchased_by}}</p>
        {% endwith %}

    </div>
    {% endif %}

{% endblock %}
