{% extends 'base.html' %}

{% block title %}Order History{% endblock %}

{% block content %}
    <h1 class="title">Order History</h1>
    
    <table class="order-table">
        <thead>
            <tr>
                <th>Sl. No.</th>
                <th>Order ID</th>
                <th>Total Item(s)</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% if order_records %}
                {% for order in order_records %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'order_details' order.id %}">{{ order.id }}</a></td>
                        <td>{{ order.items.count }}</td>
                        <td>{{ order.total_bill }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No orders found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
